* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#encabezado{
    background-color: white;
    height: 100px;
}


/* CONFIGURACION DEL MENU RESPONSIVO*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #77021a;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.menuLogo {
    width: 25%;
    float: right;
}

/* CONFIGURACION DE TEXTO E IMAGENES */

#redesSociales {
    float: right;
}

#titulo1 {
    color: #EF0A3E;
    padding: 30px 0px 0px 70px;
}


.logoface {
    width: 100px;
}

.logotwitter {
    width: 100px;
    height: 100px;
}

.logoinsta {
    width: 100px;
    height: 100px;
}

#seccion1 {
    text-align: right
}


/* Seccion 2 */
#seccion2 {
    color: #EF0A3E;
    margin-top: -60px;
    margin-left: 70px;
}

h1{
    font-size: 30px;
}

/* SECCION 3*/
#seccion3{
    text-align: center;
    
}

iframe {
    max-width: 100%;
    height: 500px;
    
}


/* .sec1{
    width: 50%;
    height: 400px;
    grid-area: anun1;
    margin: auto;

  }

  .celda1 {
    width: 250px;
    border: 0px;
    border-spacing: 0px;
} */

#seccion4{
    color: #EF0A3E;
    margin-top: -60px;
    margin-left: 70px;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}

footer {
    background-color: #75001b;
    color: white;
    text-align: center;
}

/* carrusel */
:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  .img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  .carrusel{
    display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  }
  
  video {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }

  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }

  form, input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: block;
  }

  .carrusel{
    
        font-family: var(--tipo-principal);
        font-size: 100%;
        line-height: 1.4em;
        min-height: 100vh;
        background-color: var(--blanco);
        color: var(--negro);
        -webkit-hyphens: auto;
                hyphens: auto;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      
      
  }
  

  .carrousel {
    width: 90%;
    max-width: 120em;
    padding: 2em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
  }

  .img{
    margin: auto;
  }
  .carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }

  
  .carrousel .img {
    width: calc( 100% / 3 - 2em);
    min-height: 10vh;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}

@media screen and (max-width: 800px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: white;

    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #75001b;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        height: 400px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    #seccion1 {
        text-align: center;
    }

    #seccion2 {
        text-align: center;
        margin-top: 30px;
        color: #EF0A3E;
        margin-left: -10px;
    }

    #seccion3{
        text-align: center;
    }

    #seccion4 {
        text-align: center;
        margin-top: 30px;
        color: #EF0A3E;
        margin-left: -10px;
    }
   
  



}